body
{
text-align: left;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgba(161, 43, 53, 0.986);
margin: 0;
padding: 0;
font-size: larger;
}
#container
{
    width: 70%;
    padding: :1em;
    text-align:left;
    border:1px solidcolor;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}
#cabecera
{
    background: #33a;
    box box-shadow: 0px 2px 20px 0px rgba(0,0,0,0,5);
    color:white;
    font-weight:bold;
    margin:0;
    padding: 0.5em;

}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font font-weight: normal;
    font-size: 0.8 em;
}