body
{
text-align: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: green;
margin: 0;
padding: 0;
font-size: larger;
}
#container
{
    width: 70%;
    padding: :1em;
    text-align:left;
    border:1px solidcolor;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}